* {
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}

body {
	background: url(../imag/sol_brillante.jpg);
	-webkit-background-size:cover;
	background-attachment:fixed;
	font-family: sans-serif;
}

.contenedor-form {
	position: relative;
	background-color:rgba(0,0,0,.7);
	width:20%;
	max-width:500%;
	margin:100px;
	color:#fff;
	border-radius: 5px;
	/*la siguiente instruccion se coloca pero se anula para el truco fina*/
	/*padding:40px;*/
}
.contenedor-form .toggle {
	position:relative;
	margin:0 120px;
	width:100px;
	height:30px;
	font-size:15px;
	line-height:25px;
	text-align:center;
	border-top: 2px solid #ff851b;
	border-bottom:2px solid #ff851b;
	/*proxima instruccion es cambio de color, se coloca despues de senalar el otro color*/
	transition: all .5s ease;
	cursor: pointer;
}

.contenedor-form.toggle span {
	letter-spacing:1px;
}

.contenedor-form .toggle:hover {
	border-top: 2px solid #0075d9;
	border-bottom:2px solid #0075d9;

}

.contenedor-form h2 {
	margin:0 0 30px 0;
	font-size:20px;
	font-weight:600;
	line-height:1;
}

.contenedor-form input[type="text"],
.contenedor-form input[type="password"],
.contenedor-form input[type="email"] {
	outline: none;
	background: rgba(0,0,0,.5); 
	display:block;
	width: 100%
	padding: 10px 15px;
	color:#fff;
	border: none;
	border-radius: 2px;
	border-bottom: 4px solid #ff851b;
	font-family:sans-serif;
	font-size:14;
	font-weight:normal;
	margin: 0 0 28px 0;
	transition: all .5s ease;
}

.contenedor-form input[type="text"]:focus,
.contenedor-form input[type="password"]:focus,
.contenedor-form input[type="email"]:focus {
	border-bottom: 4px solid #0075d9;
}

.contenedor-form input[type="submit"] {
	background:#ff851b;
	color:#fff;
	border:none;
	width:100%;
	padding:10px 0;
	font-weight:normal;
	font-family:sans-serif;
	letter-spacing:1px;
	font-size:16px;
	cursor: pointer;
	transition: all .5s ease;

}

.contenedor-form input[type="submit"]:hover {
	background:rgba(0,117,217,0.7);

}

.contenedor-form .reset-password {
	background:rgba(0,117,217,0.7);
	width: 100%;
	padding: 15px 0;
	text-align: center;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
}


.contenedor-form .reset-password a {
	color:#fff;
	text-decoration:none;
	font-size:16px;
}

.contenedor-form .formulario {
	padding:40px;
	display:none;
}

.contenedor-form .formulario:nth-child(2) {
	display:block;
}






